.recipes-page {
  padding: 100px 20px 20px;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background: #1e453e
}

.status-message {
  font-size: 2rem;
  color: #d0d7e0;
  font-family: 'HyliaSerif', sans-serif;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10vh;
}
